{% extends "standard.htm" %}

{% block title %} {{ writeup.name }}{% endblock %}

{% block content %}
    {% autoescape off %}
    <p>{{ writeup.content }}</p>
    <h2>FAQs</h2>
    <hr>
    <br><br>
    <div class="faq_content">
        <div class="faq_question">
    <div class="faq">
    	
    <h3>Q: Why should we donate blood?</h3>
    
    <p><font color="#000000">asddfhttgfgffyyhghghhhfhgghvgfghvh</font></p>
</div><br>

 <div class="faq">
 	
    <h3>Q: Why should we donate blood?</h3>
    
    <p><font color="#000000">asddfhttgfgffyyhghghhhfhgghvgfghvh</font></p>
</div><br>
 <div class="faq">
 	
    <h3>Q: Why should we donate blood?</h3>
     
    <p><font color="#000000">asddfhttgfgffyyhghghhhfhgghvgfghvh</font>
    </p>
 
</div></div>
<div class="video">
    <!--
<video width="320" height="240" controls>
  <source src="/static/images/bdc.mp4" type="video/mp4">
  
Your browser does not support the video tag.
</video>--><iframe width="320" height="240"
src="http://www.youtube.com/embed/Af0gk_kiGac">
</iframe></div>
</div>

    
    
    {% endautoescape %}
{% endblock %}
