<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Heart Logic: {% block title %}{% endblock %}</title>

<link rel="shortcut icon" href="/static/images/favicon.ico"  />
<link rel="stylesheet" type="text/css" media="screen" href="/static/css/base.css" />

<script src="/static/js/jquery.js"></script>
<script defer src="/static/js/jquery.flexslider-min.js"></script>
<script type="text/javascript">
    $(window).load(function() {
  $('.flexslider').flexslider({
    animation: "slide"
  });
});
</script>
<link rel="stylesheet" href="/static/css/flexslider.css" type="text/css" media="screen" />

</head>
<body>
<div class="heading">
    <div class="logo">
    </div>
    <div class="menu">
    	<ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/accounts/login">Login</a></li>
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/contact_us">Contact Us</a></li>
       	</ul>
        <br /><br /><br />
        <div class="tagline">
        </div>
    </div>
</div>
<br />
<div class="content">
{% autoescape off%}
        {% block content %}

 {% endblock %}
        {% endautoescape %}
</div>
<div class="footer">
	&copy; Copyright 2013 BITS Pilani
</div>
</body>

</html>