{% extends "base.htm" %}

{% block content %}
	{% if not posted %}
	{{dummy}}
	<form action = '' method = 'post'>
			{% csrf_token %}
			<table>
			{% for form in input_data %}
				<tr>
					<td>{{form.label}}</td>
					<td>{{form}}</td>
					<td>{{form.span}}</td>
					{% if form.errors %}
						<td>{{form.errors}}</td>
					{% endif %}
				</tr>
			{% endfor %}
			<tr><td><input type = "submit" value = "register"></td></tr>
		</table>
	</form>
	{% else %}
	<p> Done </p>
	{% endif %}
{% endblock %}

