<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Heart Logic:{% block title %}{% endblock %}</title>

<link rel="shortcut icon" href="{{MEDIA_URL}}templates/images/favicon.ico"  />
<link rel="stylesheet" type="text/css" media="screen" href="css/base.css" />
<script src="{{MEDIA_URL}}templates/js/jquery.js"></script>
</head>
<body>
<div class="heading">
    <div class="logo">
    </div>
    <div class="menu">
    	<ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/faq">FAQs</a></li>
            <li><a href="/contact">Contact Us</a></li>
       	</ul>
        <br /><br /><br />
        <div class="tagline">
        </div>
    </div>
</div>
<br />
<div class="content">
    <div class="slideshow">
        Slideshow goes her
        </div>
    <div class="textarea">
        {% autoescape off%}
        {% block content %}
        {% endblock %}
        {% endautoescape %}
    </div>
    <div class="app">
    <!--CSS here-->
    </div>
</div>
<div class="widgets">
	<div class="link">
    	<div class="linkimage"><img src="images/man.png" /></div>
        <div class="linktext">
        <h3>Ready to Donate?</h3>
        <p>The need is constant.The need is constant.The need is constant.</p>
        </div>
    </div>
	<div class="link">
    	<div class="linkimage"><img src="images/man.png" /></div>
        <div class="linktext">
        <h3>Ready to Donate?</h3>
        <p>The need is constant.The need is constant.The need is constant.</p>
        </div>
    </div>
	<div class="link">
    	<div class="linkimage"><img src="images/man.png" /></div>
        <div class="linktext">
        <h3>Ready to Donate?</h3>
        <p>The need is constant.The need is constant.The need is constant.</p>
        </div>
    </div>
</div>
<div class="footer">
	&copy; BITS Pilani
</div>
</body>

</html>
