{% extends "standard.htm" %}

{% block title %} {{ writeup.name }}{% endblock %}

{% block content %}
    {% autoescape off %}
    <p>{{ writeup.content }}</p>

    <h2>CONTACT US</h2>
    <hr>
 <p>You can mail us on the given e-mail address:
    <br><br>
    <font style="underline">heartlogicbitspilani@gmail.com</font>
    <br><br>
    or you can drop your letters at the given address:
    <br>
    BITS Pilani
    <br>
    Pilani campus;
    <br>
    Pilani, Rajasthan - 333031
    <br>
    INDIA
</p>
    
   
    {% endautoescape %}
{% endblock %}
