<!-- {% extends "interface/profile.htm" %}

{% block content %}
	<p>Password Change done</p>
		<a href="/accounts/logout">Logout</a>
		<a href="/accounts/password_change">Change Password</a>
		<a href="/accounts/request/">Add Request</a>
		<a href = "/accounts/requestget/"> Show Request</a>
		{% if bloodbank %}
		<a href = "/accounts/bloodstatistic/"> Blood Statistic</a>
		<a href="/accounts/add_statistics/"> Edit Statistic</a>
		{% endif %}
		{% if input_data %}
			<form method="post" action = "">
				{% csrf_token %}
				<table>
					{% for form in input_data %}
					<tr>
						<td>{{form.label_tag}}</td>
						<td>{{form}}</td>
						<td>{{form.errors}}</td>
					</tr>
					{% endfor %}
				</table>	
				<input type="submit" value="Submit" />
			</form>	
		{% elif pending_requests %}
			{% for request in pending_requests %}
			<form method = "post" action = "" >
				<p>Blood Group : {{ request.blood_groups }}</p>
				<p>Units of Blood : {{ request.units_of_blood_req }}</p>
				<p>Priority Level : {{ request.priority_level }}</p>
				{% if bloodbank %}
				<input type = "submit" value = "Fullfill This" class = "button_login"/>
				{% else %}
				<br/>
				{% endif %}
			</form>
			{% endfor %}
		{% elif blood_statistic %}
		<br/>
		<br/>
			<table>
			{% for key,value in statistics.items %}
				<tr><td>{{key}} : {{value}} </td></tr>
			{% endfor %}
		</table>
		</form>
		{% elif add_stat%}
		<form action = "" method = "post">
			{% csrf_token %}
			<table>
				{% for blood in  blood_groups %}
					<tr><td>{{blood}}: <input type="text" name= {{blood}} ></td></tr>
				{% endfor %}
			</table>
			<input type = "submit" value = "Submit"/>
		</form>
		{% endif %}


{% endblock %} -->
{% extends "base.htm" %}

{% block content %}
		<a href = "/accounts/profile">Home</a>
		<a href="/accounts/password_change">Change Password</a>
		{% if hospital %}
			<a href="/accounts/request/">Add Request</a>
		{% endif %}
			<a href = "/accounts/requestget/"> Show Request</a>
		{% if bloodbank %}
			<a href = "/accounts/bloodstatistic/"> Blood Statistic</a>
			<a href="/accounts/add_statistics/"> Edit Statistic</a>
		{% endif %}
		{% if hospital %}
			<a href="/accounts/fullfiledrequest/">Approved Requests</a>
		{% endif %}
		{% if bloodbank %}
			<a href="/accounts/addcamp">Add a Camp</a>
		{% endif %}
			<a href="/accounts/logout">Logout</a>
		{% if hospital %}

		<!-- Add request form -->
			<form method="post" action = "">
				{% csrf_token %}
				<table>
					{% for form in input_data %}
					<tr>
						<td>{{form.label_tag}}</td>
						<td>{{form}}</td>
						<td>{{form.errors}}</td>
					</tr>
					{% endfor %}
				</table>	
				{% if input_data %} <input type="submit" value="Submit" class = "button_login"/> {% endif %}
			</form>	
			{% if request_saved %}
				<p> Request Succesfully Saved </p>
			{% endif %}
		{% endif %}
		{% if add_camp %}
			<form method="post" action = "">
				{% csrf_token %}
				<table>
					{% for form in camp_form %}
					<tr>
						<td>{{form.label_tag}}</td>
						<td>{{form}}</td>
						<td>{{form.errors}}</td>
					</tr>
					{% endfor %}
				</table>	
				 <input type="submit" value="Submit" class = "button_login" /> 
			</form>	
			{% if camp_saved %}
				<p> Request Succesfully Saved </p>
			{% endif %}
		{% endif %}
		{% if pending_requests %}
			{% for request in pending_requests %}
			<form method = "post" action = "" >
				{% csrf_token %}
				<input type = "hidden" name = "req_id" value= {{ request.id }} >
				<p>Blood Group : {{ request.blood_groups }}</p>
				<p>Units of Blood : {{ request.units_of_blood_req }}</p>
				<p>Priority Level : {{ request.priority_level }}</p>
				{% if request.fullfiled_by %}
				<p>Fulfilled By : {{request.fullfiled_by}}</p>
				{% endif %}
				{% if bloodbank %}
					<input type = "submit" value = "Fullfill This" name = "operation" class = "button_login"/>
				{% elif hospital %}
					<input type = "submit" value = "Delete This" name = "operation" class = "button_login"/>
				{% endif %}
			</form>
			{% endfor %}
		{% elif blood_statistic and bloodbank%}
		<br/>
		<br/>
			<table>
			{% for key,value in statistics.items %}
				<tr><td>{{key}} : {{value}} </td></tr>
			{% endfor %}
		</table>
		</form>
		{% elif add_stat%}
		<form action = "" method = "post">
			{% csrf_token %}
			<table>
				{% for blood in  blood_groups %}
					<tr><td>{{blood}}: <input type="text" name= {{blood}} ></td></tr>
				{% endfor %}
			</table>
			<input type = "submit" value = "Submit" class = "button_login"/>
		</form>
		{% endif %}


{% endblock %}