<html>
	<title>Main Page</title>
	<body>
	
		{% if search_result %}
			<p>Number of search Results : {{ search_result|length }}</p>
			{% for object in search_result %}
				<p>Name: {{object.name}}</p>
				<p>Phone Number: {{object.phone_no}}</p>
				<p>Address: {{object.address_street_one}}
							{{object.address_street_two}}
							{{object.address_city}}
							{{object.address_pin}}
							{{object.address_state}}</p>
				{% if object.date %}
					<p>Date: {{object.date}}</p>
				{% endif %}				
			{% endfor %}
		{% endif %}
		{% if camp_form or bank_form %}
			<p>Blood Bank Searcher</p>
			<form action="" method = "post">
				{% csrf_token %} 
				{{ bank_form.as_p }}
			<input type="submit" value = "Submit">
			<p>Blood Camp Searcher</p>
			<form action="" method = "post">
				{% csrf_token %}
				{{ camp_form.as_p }}
			<input type="submit" value = "Submit">
		{% endif %}
	</body>
</html>