{% extends "base.htm" %}

{% block content %}
		<a href="/accounts/logout">Logout</a>
		<a href="/accounts/password_change">Change Password</a>
		<a href="/accounts/request/">Add Request</a>
		<a href = "/accounts/requestget/"> Show Request</a>
		{% if bloodbank %}
		<a href = "/accounts/bloodstatistic/"> Blood Statistic</a>
		<a href="/accounts/add_statistics/"> Edit Statistic</a>
		{% endif %}
		{% if input_data %}
			<form method="post" action = "">
				{% csrf_token %}
				<table>
					{% for form in input_data %}
					<tr>
						<td>{{form.label_tag}}</td>
						<td>{{form}}</td>
						<td>{{form.errors}}</td>
					</tr>
					{% endfor %}
				</table>	
				<input type="submit" value="Submit" />
			</form>	
		{% elif pending_requests %}
			{% for request in pending_requests %}
			<form method = "post" action = "" >
				{% csrf_token %}
				<p>Blood Group : {{ request.blood_groups }}</p>
				<p>Units of Blood : {{ request.units_of_blood_req }}</p>
				<p>Priority Level : {{ request.priority_level }}</p>
				{% if bloodbank %}
				<input type = "submit" value = "Fullfill This" class = "button_login"/>
				{% else %}
				<input type = "submit" value = "Delete This" class = "button_login"/>
				{% endif %}
			</form>
			{% endfor %}
		{% elif blood_statistic %}
		<br/>
		<br/>
			<table>
			{% for key,value in statistics.items %}
				<tr><td>{{key}} : {{value}} </td></tr>
			{% endfor %}
		</table>
		</form>
		{% elif add_stat%}
		<form action = "" method = "post">
			{% csrf_token %}
			<table>
				{% for blood in  blood_groups %}
					<tr><td>{{blood}}: <input type="text" name= {{blood}} ></td></tr>
				{% endfor %}
			</table>
			<input type = "submit" value = "Submit"/>
		</form>
		{% endif %}


{% endblock %}